In [2]:
import pandas as pd # 引入Pandas库，按惯例起别名pd
df = pd.read_excel('https://www.gairuo.com/file/data/dataset/team.xlsx')

C:\Users\BenjaminKwok\AppData\Local\Temp\ipykernel_18404\493529377.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd # 引入Pandas库，按惯例起别名pd

In [3]:
df  # 直接显示读取到的xlsx文件

        name team  Q1  Q2  Q3  Q4
0      Liver    E  89  21  24  64
1       Arry    C  36  37  37  57
2        Ack    A  57  60  18  84
3      Eorge    C  93  96  71  78
4        Oah    D  65  49  61  86
..       ...  ...  ..  ..  ..  ..
95   Gabriel    C  48  59  87  74
96   Austin7    C  21  31  30  43
97  Lincoln4    C  98  93   1  20
98       Eli    E  11  74  58  91
99       Ben    E  21  43  41  74

[100 rows x 6 columns]

## 1.3.4 查看数据
df.head() # 查看前5条，括号里可以写明你想看的条数
df.tail() # 查看尾部5条
df.sample(5) # 随机查看5条

In [4]:
df.head(3)  # 查看前3条，()默认5条，索引从0开始，0,1,2

    name team  Q1  Q2  Q3  Q4
0  Liver    E  89  21  24  64
1   Arry    C  36  37  37  57
2    Ack    A  57  60  18  84

In [5]:
df.tail(3)  # 查看倒数3行，()默认3条

        name team  Q1  Q2  Q3  Q4
97  Lincoln4    C  98  93   1  20
98       Eli    E  11  74  58  91
99       Ben    E  21  43  41  74

In [6]:
df.sample(2)  # 随机抽取(n）条

       name team  Q1  Q2  Q3  Q4
86    Calum    C  14  91  16  82
55  Zachary    E  12  71  85  93

## 1.3.5 验证数据
df.shape # (100, 6) 查看行数和列数
df.info() # 查看索引、数据类型和内存信息
df.describe() # 查看数值型列的汇总统计
df.dtypes # 查看各字段类型
df.axes # 显示数据行和列名
df.columns # 列名

In [9]:
df.shape # (100, 6) 查看行数和列数 100行 6列

(100, 6)

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    100 non-null    object
 1   team    100 non-null    object
 2   Q1      100 non-null    int64
 3   Q2      100 non-null    int64
 4   Q3      100 non-null    int64
 5   Q4      100 non-null    int64
dtypes: int64(4), object(2)
memory usage: 4.8+ KB

In [12]:
df.describe()  # count总数目  mean均值 std标准差

               Q1          Q2          Q3          Q4
count  100.000000  100.000000  100.000000  100.000000
mean    49.200000   52.550000   52.670000   52.780000
std     29.962603   29.845181   26.543677   27.818524
min      1.000000    1.000000    1.000000    2.000000
25%     19.500000   26.750000   29.500000   29.500000
50%     51.500000   49.500000   55.000000   53.000000
75%     74.250000   77.750000   76.250000   75.250000
max     98.000000   99.000000   99.000000   99.000000

In [13]:
df.dtypes

name    object
team    object
Q1       int64
Q2       int64
Q3       int64
Q4       int64
dtype: object